.container {
    display: inline-block;
    cursor: pointer;
}

.container > div {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.container.change > div:nth-child(1) {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.container.change > div:nth-child(2) {opacity: 0;}

/* Rotate last bar */
.container.change > div:nth-child(3) {
    transform: translate(0, -11px) rotate(45deg);
}

* {
    box-sizing: border-box;
}